* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
}

:root {
    --color-nav: rgb(0,0,0);
    --text-color: white;
    --a-color: gray; 
    --color-section: rgb(28, 27, 27);
    --color-about: rgb(22, 21, 21);
}

.nav {
    background-color: var(--color-nav);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 100px;
    width: 100px;
}

.nav-opciones {
    display: flex;
    color: var(--text-color);
    gap: 30px;
    padding: 10px;
}

a {
   color: var(--text-color);
   font-family: 'Poppins', sans-serif;

}

li:hover {
    transform: scale(1.1);
}

li a:hover {
    color: var(--a-color);
}

.hero-pizzeria {
    background-color: var(--color-section);
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
}

.div-us {
    border-radius: 4%;
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-us h2 {
    color: var(--text-color);
    padding: 0px 50px;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
}

.div-us p {
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding: 20px 90px 50px 0px; 
    font-family: 'Amatic SC', cursive;

}

.img-hero {
    height: 500px;
    width: 500px;
    border-radius: 20%;
    padding: 10%;
}

.main {
    height: 600px;
    width: 100%;
}

.about-us p {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    color: var(--text-color);
    padding: 0% 0% 3% 0%;
}