* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    box-sizing: content-box;
}

:root {
    --color-nav: white;
    --text-color: black;
    --text-color2: white; 
    --a-color: gray; 
    --color-section: rgb(28, 27, 27);
    --color-about: rgb(22, 21, 21);
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav {
    background: linear-gradient(to bottom, white, rgb(28, 27, 27));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 105px;
    width: 120px;
}

.nav-opciones {
    display: flex;
    gap: 30px;
    padding: 10px;
}

li{
    text-shadow: 10px 10px 10px 10px;
}

a {
   font-family: 'Poppins', sans-serif;
   text-decoration: none;
   list-style: none;
   color: white;
}

li:hover {
    transform: scale(1.2);
    transform: translate(1.1);
}

li a:hover {
    color: var(--text-color);
}

.hero-pizzeria {
    background-color: var(--color-section);
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
}

.div-us {
    border-radius: 4%;
    height: 100%;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-us h2 {
    color: var(--text-color2);
    padding: 0px 50px;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
}

.div-us p {
    color: var(--text-color2);
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 30px 90px 50px 0px; 
    font-family: 'Amatic SC', cursive;

}

.img-hero {
    height: 500px;
    width: 500px;
    border-radius: 20%;
}

.main {
    height: 600px;
    width: 100%;
}

.about-us p {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    color: var(--text-color2);
    padding: 0% 0% 3% 0%;
}

input, label {
    display: none;
}

.PEDIDOS {
    background-color: var(--color-section);
}

.card1 {
    display: none;
}

.VARIEDADES {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.cards {
    height: 480px;
    width: 230px;
    gap: 10px 5px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
}

.pizza1, .pizza2, .pizza3, .pizza4{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
}

h4 {
    height: 100%;
    width: 70%;
    font-size: 0.7rem;
    font-family: 'Amatic SC', cursive;
    padding: 5px 5px;
}

button {
    font-size: 10px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: gray;
    cursor: pointer;
}

h3 {
    font-size: 1rem;
    font-family: 'Amatic SC', cursive;
}

#pizza {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    padding: 10px 13px;
}

.title-pedidos h2{
    font-size: 3.5rem;
    font-family: 'Amatic SC', cursive;
    color: var(--text-color2);
}

.title-pedidos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-pedidos {
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    color: black;
    background-color: white;
    font-size: 10px;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    transition: all 0.3s ease ;
}

.boton-pedidos:hover {
    background-color: gray;
    transition: all 0.3s ease ;
}

footer {
    background-color: var(--color-about);
}

.mapa {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mapa {
    height: 200px;
    width: 200px;
    border-radius: 10%;
}

h5 {
    color: var(--text-color2);
    font-family: 'Amatic SC', cursive;
}

.titulo-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0% 0% 1% 0%;
}

#contacto {
    font-size: 3.5rem;
    color: var(--text-color2);
    font-family: 'Amatic SC', cursive;
}